*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}

.body-color{
    background-color: #F8FAFC;
}

.width{
    max-width: 1110px;
    text-align: start;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    margin-top: 60px;

}

.header{
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #002C5C;
}

.card-main{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    
}

.card{
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    
}

.card-header{
    font-size: 14px;
    font-weight: 500px;
    color: #323B49;

}

.card-number-one{
    font-size: 24px;
    font-weight: bold;
    color: #002C5C;

}
.card-number-two{
    font-size: 24px;
    font-weight: bold;
    color: #10B981;

}
.card-number-three{
    font-size: 24px;
    font-weight: bold;
    color: #EF4444;

}
hr{
    border: none;
    height: 1px;
    background-color: #E6E7E9;
}
.header-two-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.header-two{
    font-size: 20px;
    font-weight: 600;
    /* margin-bottom: 24px; */
    color: #002C5C;
    

}
.header-two-number{
    font-size: 16px;
    font-weight: 500;
    /* margin-bottom: 24px; */
    color: #64748B;

}

.width-two{
    max-width: 1110px;
    text-align: start;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    margin-top: 30px;

}

.button-container{
    display: flex;
    gap: 8px;
    /* justify-content: space-between; */
    margin-bottom: 16px;
}

.btn-one a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn-one{
    font-size: 12px;
    border: none;
    padding: 10px 32px 10px 32px;
    background-color: #3B82F6;
    border-radius: 4px;

}
.btn-two a{
    text-decoration: none;
    color: #64748B;
}

.btn-two{
    font-size: 12px;
    border: none;
    padding: 10px 32px 10px 32px;
    background-color: #ffffff;
    border-radius: 4px;

}
.btn-three a{
    text-decoration: none;
    color: #64748B;
}
.btn-three{
    font-size: 12px;
    border: none;
    padding: 10px 32px 10px 32px;
    background-color: #ffffff;
    border-radius: 4px;

}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.big-card{
    padding: 20px;
    background-color: white;
    border-radius: 6px;

}

.card-h1{
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #002C5C;
}

.card-h2{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #64748B;
    margin-bottom: 20px;

}

.btn-four a{
    text-decoration: none;
    color: #002C5C;
}
.btn-four{
    font-size: 14px;
    font-weight: 500;
    border: none;
    line-height: 20px;
    padding: 8px 12px 8px 12px;
    background-color: #EEF4FF;
    border-radius: 4px;
    text-transform: uppercase;

}

.card-p{
    font-size: 14px;
    line-height: 20px;
    color: #323B49;
    font-weight: 400;
    margin-top: 8px;

}

.flex-two{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;

    
}

.btn-five a{
    text-decoration: none;
    color: #10B981;
}
.btn-five{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 8px 12px 8px 12px;
    background-color: #ffffff;
    border: 1px solid #10B981;
    border-radius: 4px;
    text-transform: uppercase;
    

}
.btn-six a{
    text-decoration: none;
    color: #EF4444;
}
.btn-six{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 8px 12px 8px 12px;
    background-color: #ffffff;
    border: 1px solid #EF4444;
    border-radius: 4px;
    text-transform: uppercase;
    

}

.eight{
    margin-bottom: 60px;
}





